.footer {
  max-width: 1184px;
  margin: 0 48px 24px;
  /* display: grid;
  grid-template-columns: repeat(5, 1f) 497px 186px;
  grid-template-areas: 'link link link link link . copyright';
  column-gap: 18px; */
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 64px 16px 24px;
    width: calc(100% - 16px * 2);
    gap: 48px;
  }
}
