.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  z-index: 2;
  text-align: center;
  /* margin: 0 412px 245px; */
  color: #ffffff;
  max-width: 360px;
  max-height: 66px;
  margin: 32px 0 0;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: calc(100% - 16px * 2);
  }
}
