.header {
  display: flex;
  justify-content: space-between;
  /* display: inline-grid;
  grid-template-columns: 176px 1fr 78px;
  grid-template-areas: 'logo . lang-link'; */
  /* min-width: 1184px; */
  width: calc(100vw - 96px);
  max-height: 52px;
  margin: 28px 48px 56px;
  outline: 5px solid red;
}
