.intro {
  margin: 0 148px 92px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 690px;
  width: calc(100% - (148px + 442px));
  height: max-content;
}

/* @media screen and (max-width: 1280px) {
  .intro {
    margin: 0px 148px 92px;
  }
} */

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0px 48px 92px;
    width: calc(100% - (48px + 48px));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0px 24px 88px;
    width: calc(100% - (24px * 2));
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin: 0px 16px 64px;
    width: calc(100% - (16px * 2));
  }
}
