.places {
  margin: 0 148px 92px;
  width: calc(100% - (148px * 2));
  max-width: 984px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - (48px * 2));
    margin: 0 48px 90px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - (24px * 2));
    margin: 0 24px 90px;
    row-gap: 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    width: calc(100% - 16px * 2);
    margin: 0 16px 66px;
    row-gap: 50px;
  }
}
