.footer__links {
  list-style: none;
  display: flex;
  /* max-width: calc(309px + 156px);
  grid-template-columns: repeat(5, 1fr);
  
  margin: 0;*/
  padding: 0;
  column-gap: 18px;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin: 0;
  }
}
