.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* min-width: calc(100% - (48px * 2));
  max-height: 52px; */
  margin: 28px 48px 0;
  max-width: 1184px;
  width: calc(100% - (48px * 2));
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px * 2);
    margin: 28px 24px 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header {
  }
}

/* @media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    width: calc(100% - 16px * 2);
    margin: 16px 16px 0;
  }
} */
