.place {
  display: grid;
  grid-template-columns: [line0]460px [line1]484px;
  grid-template-rows: [row0]fit-content [row1] 1fr;
  grid-template-areas:
    'title website'
    'image text';
  gap: 48px 40px;
  align-items: start;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: [line0]440px [line1]456px;
    grid-template-rows: [row0]fit-content [row1] 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-areas:
      'title'
      'website'
      'image'
      'text';
    grid-template-columns: 1fr;
    row-gap: 32px;
    grid-template-rows: 35px 46px 320px 1fr;
  }
}
