.intro__title {
  margin: 0 148px 40px 148px;
  padding-right: 294px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */

  color: #ffffff;
}
